body {
  font-family: arial, helvetica, "Noto Sans KR";
  width: 100%;
  height: 100%;
  display: relative;
}

h2 {
  font-size: 5em;
  text-align: center;
  color: #ddd;
  font-weight: 700;
}
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.section1 {
  color: #ddd;
}

.slide1-1 {
  background: #020e1c;
  /* background: url("../images/IMG_5340-min.JPG");
  background-size: cover; */
}

.section2 {
  background: #020e1c;
}

.section3 {
  background: #fdfbfa;
}

.section4 {
  background: #fdfbfa;
}

.section5 {
  background: #fdfbfa;
}

.section6 {
  background: #020e1c;
}

.fp-section {
  text-align: center;
}
button {
  padding: 0.93em 1.87em;
  border-color: transparent;
  display: block;
  color: #dddddd;
  margin: 0 auto;
  cursor: pointer;
  font-size: 2em;
}
.slide {
  position: relative;
}

/* .Qsection1{
		background: -webkit-gradient(linear, top left, bottom left, from(#ec1e1e), to(#5e1616));
		background: -webkit-linear-gradient(#000 ,#ec1e1e, #cc1d1d, 	#5e1616, #000);
		background: linear-gradient(#000 , #ec1e1e, #cc1d1d, 	#5e1616,  #000);
	} */
